<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802136958785-ioihltvk1vbesrbspig2jnrkrtargd84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802136958785-ioihltvk1vbesrbspig2jnrkrtargd84</string>
	<key>API_KEY</key>
	<string>AIzaSyADAZ7c6cduyTV02-OGLg3EYNB_Q1Vt8yI</string>
	<key>GCM_SENDER_ID</key>
	<string>802136958785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tommy.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotesrtes</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotesrtes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802136958785:ios:396b0c17e6eb24c97e63c0</string>
</dict>
</plist>